$logo_font: 'logo', system-ui, -apple-system, BlinkMacSystemFont, 'SanFranciscoText', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$body_font: system-ui, -apple-system, BlinkMacSystemFont, 'SanFranciscoText', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$darkpurple: #141A2E;
$purple: #6666FF;
$pink: #FC297D;
$gradient: linear-gradient(to bottom right, $pink, $purple);
$white: #FFFFFF;
@font-face {
	font-family: 'logo';
	src        : url("/font/logo.woff2") format('woff2'), url("/font/logo.woff") format('woff');
	font-weight: 900;
	font-style : normal;
}

html {
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	background             : $darkpurple;
	font-size              : 14px;
	height                 : 100%;
	text-rendering         : optimizeLegibility;
}

body {
	background : $darkpurple;
	color      : $white;
	font-family: $body_font;
	font-size  : 1rem;
	font-weight: 400;
	height     : 100%;
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

::selection {
	background: $pink;
	color     : $white;
}

span {
	font-family: $logo_font;
}

p {
	color      : $white;
	font-family: $body_font;
	font-weight: 500;
	font-size  : 1rem;
}

a {
	color          : $pink;
	text-decoration: none;

	&:link {
		color          : $pink;
		text-decoration: none;
	}

	&:visited {
		color          : $pink;
		text-decoration: none;
	}

	&:hover {
		color          : $purple;
		text-decoration: none;
		transition     : 0.4s;
	}

	&:focus {
		color          : $purple;
		text-decoration: none;
		transition     : 0.4s;
	}

	&:active {
		color          : $purple;
		text-decoration: none;
		transition     : 0.4s;
	}
}

.hero {
	align-items    : center;
	background     : $darkpurple;
	display        : flex;
	justify-content: center;
	min-height     : 100% !important;
}

.footer {
	align-items    : center;
	background     : $darkpurple;
	display        : flex;
	justify-content: center;
	padding        : 50px 0;
}

.rendered-logo {
	position      : relative;
	text-align    : left;
	vertical-align: middle;
}

.logo {
	color      : $white;
	font-family: $logo_font;
	font-size  : 3rem;
	position   : relative;
	text-shadow: -1px 0 $darkpurple, 0 1px $darkpurple, 1px 0 $darkpurple, 0 -1px $darkpurple;
	z-index    : 2;
}

.shadow {
	background             : $gradient;
	color                  : $pink;
	font-family            : $logo_font;
	font-size              : 3rem;
	left                   : 4px;
	position               : absolute;
	top                    : 4px;
	user-select            : none;
	z-index                : 1;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media (max-width: 991px) {
	.logo,
	.shadow {
		font-size: 2em;
	}

	.standard {
		padding: 50px 12%;
	}
}